body {
    background-image: url("/images/space.jpeg");
    color: white;
    margin: auto;
    height: 1000px;
    width: 1328px;
}

#postPage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}

#profileForm{
    margin-top: 5%;

}
#postTitle{
    margin-top: 5%;
    text-align: center;
}
#postForm{
    margin-top: 5%;
}

#savedPosts{
    margin-top: 10%;
}