body {
    background-image: url("/images/space.jpeg");
    color: white;
    margin: auto;
    height: 1000px;
    width: 1328px;
}

#postPage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}

#profileDisplay{
    margin-top: 5%;

}
#postTitle{
    margin-top: 5%;
    text-align: center;
}
#postForm{
    margin-top: 5%;
}

#savedPosts{
    margin-top: 10%;
}


.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }